@font-face {
    font-family: clash;
    src: url("../fonts/ClashDisplay-Light.otf");
}

@font-face {
    font-family: pilcrow;
    src: url("../fonts/PilcrowRounded-Medium.otf");
}

@font-face {
    font-family: jost;
    src: url("../fonts/Jost-Medium-BF63dc52d2d8452.ttf");
}

@font-face {
    font-family: bonfire;
    src: url("../fonts/bonfire.ttf");
}

::after,
::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit; }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth; }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 57.5%; } }
    @media only screen and (max-width: 37.5em) {
      html {
        font-size: 54%;} }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 65%; } }
  
  ::selection{
    background-color: rgba(126, 12, 12, 0.6);
    color: #000;
  }
  
  body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit; }
  
  li {
    list-style: none; }
  
  input:focus,
  button:focus,
  a:focus,
  textarea:focus {
    outline: none; }
  
  button {
    border: none;
    cursor: pointer; }
  
  textarea {
    resize: none; }
  .btn{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    height: 3.5rem;
    border-radius: .6rem;
    font-family: "Poppins", sans-serif;
    margin-top: 2.8rem;
  }
  .primary__heading{
    font-size: 2.7rem;
    font-weight: 600;
    color: rgb(1, 13, 20);
  }
  .primary__paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(1, 13, 20);
    font-family: "Poppins", sans-serif;
  }
  .fas{
    font-size: 3rem;
  }
  .sec_pad{
    padding: 11rem 7rem;
  }
  .section__heading{
      font-size: 3.2rem;
      font-weight: 600;
      color: rgb(1, 13, 20);
      letter-spacing: 2px;
  }
  .section__tagline{
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgb(1, 13, 20);
    border-bottom: 2px solid rgb(1, 13, 20);
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 37.5em) {
    .section__heading,
    .primary__heading{
      font-size: 2.5rem; }
      .section__tagline{
        font-size: 2.25rem; }
    .sec_pad{
      padding: 9.5rem 3.2rem; }
  }
  
header{
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 100; }
    .show__background{
        background-color: #000;
        box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); }
    .small__device,
    .ham__menu{
      cursor: pointer;
      display: none; }
    .header__logo{
        width: 7rem;
        height: 4rem;
        cursor:pointer;
        filter: drop-shadow(0 10px 10px black) }
        @media only screen and (max-width: 56.25em) {
            .header__logo{
                width: 6rem;
                height: 3.5rem; } 
         }
        @media only screen and (max-width: 37.5em) {
            .header__logo{
                width: 5.5rem;
                height: 3.1rem; } }
                .header__logo-a{
                    padding: 0;
                    line-height: 0; }
                @media only screen and (max-width: 37.5em) {
                  .header__logo-list{
                    display: none;} 
         }
    .header__links{
        display: flex;
        justify-content: space-evenly;
        width: min(90%, 90rem);
        align-items: center; }
        .header__links li{
            font-family: "Bebas Neue", sans-serif;
            padding: 2rem 0;
            text-transform: uppercase; }
            .header__logo-list,
            .header__logo-a{
              padding: 0; }
            .header__links li a{
                color: #f9c004;
                transition: color 0.3s;
                letter-spacing: 2px;
                padding: 2rem 0;
                font-size: 1.6rem;
                text-shadow: 0 10px 10px black; }
            .header__links li a:is(:hover, :focus){
                color: #bd2323; }
        @media only screen and (max-width: 37.5em) {
          header{
            justify-content: space-between;
            background: #000;
            padding: 2rem 3.5rem;}
            .small__device,
            .ham__menu{
              display: block; }
              .ham__menu-bar{
                font-size: 2.5rem;
                color: #f9c004; }
            .header__links{
              display: block;
              position: absolute;
              background: #000;
              top: 100%;
              opacity: 0;
              visibility: hidden;
              transition: all .3s;
              left: 0;
              width: 100%;}
              .header__links li{
                width: 100%;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 0; }
                .header__links li a{
                  display: block;
                  justify-self: stretch;
                  text-align: center;}
            .ul__show{
              opacity: 1;
              visibility: visible; }
              .ul__show .header__link{
                animation: anchor .3s ease-out; }
                @keyframes anchor {
                  0%{
                    transform: translateX(-55%); }
                  90%{
                    transform: translateX(6%); }
                  100%{
                    transform: translateX(0);} }
          }

.home__section{
    background-image: url("../images/jpg/home-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%; }
    .home__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25rem 0;
        align-items: center; }
        .home__logo img{
            width: 23%;
            filter: brightness(95%) drop-shadow(0 10px 10px black); }
            @media only screen and (max-width: 56.25em) {
                .home__logo img{
                    width: 27%; }
                .home__logo{
                  padding: 18rem 0;} 
             }
                @media only screen and (max-width: 37.5em) {
                    .home__logo img {
                      width: 30%; }
                    .home__logo{
                      padding: 10rem 0;} 
                 }
        .home__logo p{
            font-family: bonfire;
            color: #f9c004;
            font-size: 1.3rem;
            margin-top: .6rem; }
        .btn__group{
            display: flex;
            align-items: center;
            gap: 2rem; }
            .btn__large{
                width: 15rem; }
                .btn__warning{
                    background-color: #f9c004;
                    color: #000 }
                .btn__outline{
                    background-color: transparent;
                    border: 2px solid #fff; 
                }

.services__section{
    background-image: linear-gradient(120deg, #f9c004 60%, #000 40%);
    display: flex;
    justify-content: center;
    align-items: center;}
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem; }
        @media only screen and (max-width: 66.75em) {
          .services{
            grid-template-columns: 1fr 1fr;}
         }
        @media only screen and (max-width: 37.5em) {
          .services{
            grid-template-columns: 1fr;} 
         }
        .service__card{
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25rem;
            height: 25rem;
            border-radius: .2rem;
            box-shadow: 0 10px 50px  rgba(0, 0, 0, 0.2);
            background-color: #fff; }
            .service__card:nth-child(4){
                background-color: #f9c004; }
            /* .food__truck-div{
              overflow: hidden;
              width: 40%; }
              .food__truck{
                left: 0;
                position: relative;
                animation: truck 3s infinite; }
                @keyframes truck {
                  0%{
                    left: -40%;}
                  100%{
                    left: 120%;} } */

.about__section{
  background: #fff;}
  .about__section-part{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
    .about__images{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      width: 61.2rem; }
      @media only screen and (max-width: 85em) {
        .about__section-part{
          grid-template-columns: 1fr;}
        .about__images{
          order: 1;
          margin-top: 3rem; }
       }
      .about__image-container{
          width: 30rem;
          height: 30rem;
          border-radius: .5rem;
          overflow: hidden; }
          .about__image-container img{
            object-fit: cover;
            width: 100%;
            transition: all 1s;
            height: 100%; }
            .about__image-container img:hover{
              transform: scale(1.2);}
          .about__image-container:nth-child(3){
            margin-left: 3rem;
            width: 27rem;
            height: 27rem; }
          .about__image-container:nth-child(2){
            margin-top: 3rem;
            width: 27rem;
            height: 27rem; }
          @media only screen and (max-width: 56.75em) {
            .about__images{
              width: 51.2rem;}
            .about__image-container{
              width: 25rem;
              height: 25rem; }
             .about__image-container:is(:nth-child(2), :nth-child(3)){
              width: 22rem;
              height: 22rem;}
           }
          @media only screen and (max-width: 40.5em) {
            .about__images{
              width: 100%; }
            .about__image-container{
              width: 100%;
              height: 27rem; }
            .about__image-container:is(:nth-child(2), :nth-child(3)){
              width: 100%;
              height: 22rem;
              margin: 0; }
           }
      .about__content{
        width: min(95%, 80rem);}
        .about__content{
          position: relative; }


.menu__section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f9c004; }
  .menu__bar{
    display: flex;
    margin-top: 2rem;
    padding-bottom: .7rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    gap: 3rem;}
    @media only screen and (max-width: 37.5em) {
      .menu__bar{
        gap: 0.5rem;
        width: 40.9rem; }
      .fas{
        font-size: 2.5rem;}
    }
    .arrow{
      width: 2rem;
      height: 2rem;
      background-color: #fff;
      position: absolute;
      rotate: 45deg;
      top: 8.4rem;
      transition: all 0.3s;
      border-radius: .2rem; }
      .arrow_1{
        left: 14%; }
      .arrow_2{
        left: 50.5%; }
      .arrow_3{
        left: 84%; }
      @media only screen and (max-width: 37.5em) {
        .arrow_1{
          left: 16%; }
        .arrow_2{
          left: 50%; }
        .arrow_3{
          left: 82%; }
      }
    .menu__special{
      display: flex;
      justify-content: center;
      padding: .5em 2em;
      gap: .7em;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .menu__special::after{
        content: "";
        position:absolute;
        height: .25em;
        background: #000;
        width: 0;
        left: 0;
        transition: all 0.3s;
        bottom: -.7em; }
        .menu__special:hover::after{
          width: 100%; }
        @media only screen and (max-width: 37.5em) {
          .menu__special svg{
            width: 23px; }
        }
    .border-bottom{
      display: flex;
      background: rgba(255, 255, 255, .3);
      border-radius: .4em;
      animation: menuBorder .3s ease; }
    .border-bottom::after{
      width: 100%; }
    @keyframes menuBorder {
      50%{
        transform: scale(1.2);} 
    }
      .menu__para,
      .menu__para-bold{
        font-size: 1.5em;
        font-family: "Poppins", sans-serif; }
        .menu__para-bold{
          font-weight: bold; }
  .menu__bar-section{
    background: #fff;
    box-shadow: 0 10px 50px  rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
    padding: 2rem;
    border-radius: .4rem;
    margin-top: 3rem; }
    .d-none{
      display: none; }
    @media only screen and (max-width: 48.5em) {
      .menu__bar-section{
        grid-template-columns: 1fr;
        grid-gap: 0; }
    }
    .food__item-part{
      border-right: 1px solid rgba(0, 0, 0, 0.5);
      padding-right: 2.5rem; }
      @media only screen and (max-width: 48.5em) {
        .food__item-part{
          border-right: none;
          padding-right: 0; }
      }
      .food__item{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
        @media only screen and (min-width: 48.6em) {
          .food__item:last-child{
            border:none;
            margin: 0;
            padding: 0; }
        }
        @media only screen and (max-width: 48.5rem) {
          .food__item-part2 .food__item:last-child{
            border: none;
            margin: 0;
            padding: 0; }
        }
        .food__item-img{
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          border-radius: .4rem; }
          .food__item-price{
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            padding-bottom: .6rem;
            margin-bottom: .6rem;
            justify-content: space-between;
            align-items: center; }

.booking__container{
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 49rem;
  grid-gap: 1rem; }
  .booking__image{
    border-radius: .5rem;
    height: 49rem;
    box-shadow: 0 10px 50px  rgba(0, 0, 0, 0.1);
    width: min(95%, 80rem); }
    .booking__image-img{
      width: 100%;
      height: 100%;
      border-radius: .5rem;
      object-fit: cover; }
  @media only screen and (max-width:78em) {
    .booking__container{
      height: 100%;
      grid-template-columns: 1fr; } 
    }
      @media only screen and (max-width: 37.5em) {
        .booking__image{
          height: 28rem;}
      }
  .booking__form-container {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 4rem;
    width: min(80rem, 95%);
    text-align: right;
    border-radius: 5px; }
    @media only screen and (max-width: 38.5em) {
      .booking__form-container {
        padding: 3rem; } 
      
      }
  .booking__form-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem; }
  .booking__form-input {
    color: #333;
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    /* Code for Modern Browsers */
    /* Code for WebKit, Blink, Edge */
    /* Code for Internet Explorer 10-11 */
    /* Code for Microsoft Edge */
    /* Code for Mozilla Firefox 4 to 18 */
    /* Code for Mozilla Firefox 19+ */ }
    .booking__form-input::placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.3rem; }
    .booking__form-input::-webkit-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.3rem; }
    .booking__form-input:-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.3rem; }
    .booking__form-input::-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.3rem; }
    .booking__form-input:-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.3rem; }
    .booking__form-input::-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.3rem; 
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .booking__form-container form .btn{
      margin-top: 2rem;
    }

.footer__section {
  background: #000;
  font-family: "Poppins", sans-serif;
  padding: 3rem 9rem;
  color: #fff;}
  @media only screen and (max-width: 37.5em) {
    .footer__section{
      padding: 2rem 4rem; }
  }
  .main-footer__upper {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 8rem 0; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__upper {
        padding: 6rem 0; } }
    @media only screen and (max-width: 38.5em) {
      .main-footer__upper {
        display: block; } }
  .main-footer__row-1 {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__row-1 {
        margin-bottom: 5rem; } }
  .main-footer__row-2 {
    width: 70%;
    order: 1;
    max-width: 50rem; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__row-2 {
        width: 100%; } }
  .footer__heading{
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.4rem;
    font-family: "Bebas Neue", sans-serif;}
  .main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7; }
  .main-footer__social-cont {
    margin-top: 2rem; }
  .main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem; }
    .main-footer__icon--mr-none {
      margin-right: 0; }
  .main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: center; }
    .main-footer__lower a {
      text-decoration: underline;
      font-weight: bold;
      margin-left: 2px; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__lower {
        padding: 3.5rem 0; } }
    